.container {
    height: fit-content;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F0F0F0;
    padding-top: 2em;
}

.container>h1 {
    width: fit-content;
    font-size: 2.5em;
    text-transform: uppercase;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #F45050 33%, #FA8128 33%, #FA8128 66%, #F9D949 66%, #F9D949 100%) 3;
}